<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.timeisgold">
        <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
            <activity android:name=".DBShow"></activity>
            <activity android:name=".ValueResult"></activity>
            <activity android:name=".WasteResult"></activity>
            <activity android:name=".SettingValue"></activity>
            <activity android:name=".SettingWaste"></activity>
            <activity android:name=".TimerShowValue"></activity>
            <activity android:name=".TimerShowWaste"></activity>
            <activity android:name=".SelectSetting"></activity>
            <activity android:name=".SelectStart"></activity>
            <activity android:name=".StartValue"></activity>
            <activity android:name=".StartWaste"></activity>
            <activity android:name=".TakePicture"></activity>
            <activity android:name=".GetPicture"></activity>
            <activity android:name=".MainActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>
        </application>

    </manifest>
